useDynLib(RSAP, .registration = TRUE, .fixes = "C_")

importFrom(stats, runif)

export(RSAPConnect,RSAPClose,RSAPGetInfo,RSAPValidHandle,RSAPInvoke,RSAPReadTable,RSAPReadCube,RSAPGetCube,RSAPListCubes,RSAPExecInfoQuery,readTable,readCube)

exportClasses(RSAP_Connector)

#exportMethods(readTable)

#S3method(readTable, "RSAP_Connector")

#S3method(readCube, "RSAP_Connector")

S3method(print, "RSAP_Connector")

S3method(close, "RSAP_Connector")
